<div class="field">
	<h1>Bienvenidos IDI</h1>
	<p>Este es el menu principal para la administracion de Monitores y Monitorias.</p>
	<p>Para poder utilizar el servicio ingrese en la barra de navegacion superior de la pagina las opciones que desee probar.</p>
</div>